#Python Essentials for LLM

## Variables & Basics

In [1]:
name = "Amit"
age = 30
score = 4.8

print(name, age, score)

Amit 30 4.8

# Ex 1.1
#Create variables
#1. your age
#2. name
#3. city
#4. your skill

# Lists and Dictionaries

In [2]:
fruits = ["apple", "banana", "orange"]
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
print(fruits[0], fruits[1], fruits[2])

In [3]:
movie = ["Inception", 8.9, "Christopher Nolan", 10000000]
print(movie)

['Inception', 8.9, 'Christopher Nolan', 10000000]

In [4]:
len(movie)

4

In [6]:
# Input

n = int(input())
print(n, type(n))

10
10 <class 'int'>

#Ex2.1
# Create a list of 5 programming languages:
# print
# 1. First
# 2. Last
# 3. total

In [7]:
# 2-d List
very_odd_list = [[1, 2, 3], ["one", "two", "three"], ["1", "2", "3"]]
print(very_odd_list)

[[1, 2, 3], ['one', 'two', 'three'], ['1', '2', '3']]

In [8]:
print(very_odd_list[0])

[1, 2, 3]

In [9]:
print(very_odd_list[-1])

['1', '2', '3']

In [10]:
print(very_odd_list[1][0])

one

In [11]:
print(very_odd_list[2][0])

1

In [12]:
print(very_odd_list[2][-1])

3

# Dictionaries

In [13]:
person = {"name": "Amit", "age": 30, "city": "New York"}
print(person)

{'name': 'Amit', 'age': 30, 'city': 'New York'}

In [14]:
person["name"]

'Amit'

In [15]:
person["age"]

30

#Ex3
# Create a dictionary person:
# 1. Name
# 2. Age
# 3. City
# 4. List of skills

In [16]:
person2 = {"name": "Amit", "age": 30, "city": "New York", "skills": ["Python", "Java", "C++"], "new_person": person}
print(person2)

{'name': 'Amit', 'age': 30, 'city': 'New York', 'skills': ['Python', 'Java', 'C++'], 'new_person': {'name': 'Amit', 'age': 30, 'city': 'New York'}}

In [19]:
person2['skills'][2]

'C++'

# Functions

In [20]:
def greet(name):
  print("Hello", name)

In [21]:
greet("Amit")

Hello Amit

In [22]:
def add(a, b):
  return a + b

In [23]:
m = add(19, 20)
print(m)

39

#Ex4
# Write a function describe(name, city) that returns
# Name
# City

# Functions with Dictionaries

In [27]:
def print_user(user):
  print(user)
  print(user['name'])
  print(user['age'])
  print(user['city'])

In [28]:
print_user({'name':"Amit", 'age':30, 'city':"Delhi"})

{'name': 'Amit', 'age': 30, 'city': 'Delhi'}
Amit
30
Delhi

# Ex5
#Create a function that takes dictionary as an argument

# prints all the keys

In [29]:
def print_keys(user):
  print(user.keys())

In [30]:
print_keys({'name':"Amit", 'age':30, 'city':"Delhi"})

dict_keys(['name', 'age', 'city'])

# File Handling

In [31]:
# writing a file
with open("notes.txt", "w") as f:
  f.write("This is my first file!\n")
  f.write("This is the second line!\n")
  f.write("This is the third line!\n")

In [32]:
# reading a file
content = open("notes.txt", "r").read()
print(content)

This is my first file!
This is the second line!
This is the third line!

# Ex6
# Write a file my_facts.txt
# My name is ___
# I am in a useless workshop
# I like programming

# using libraries

In [33]:
# math
import math
print(math.sqrt(16))

4.0

# Ex7

# Import the random library
# 1. Print a random number b/w 1-100
# 2. print a random element from a list

In [35]:
import random
print(random.randint(1, 100))
print(random.choice([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

87
10

# Using JSON

In [39]:
import json
person = {"name": "Amit", "age": 30, "city": "New York"}
print(type(person))
person_json = json.dumps(person)
print(person_json)
print(type(person_json))

<class 'dict'>
{"name": "Amit", "age": 30, "city": "New York"}
<class 'str'>

In [40]:
# JSON -> dict
person_dict = json.loads(person_json)
print(person_dict)
print(type(person_dict))

{'name': 'Amit', 'age': 30, 'city': 'New York'}
<class 'dict'>

# Ex8
# 1. Create a python dictionary representing a tool calling

In [41]:
tool_calling = {'tool': "save_notes", 'arguments': {'title': "demo", 'text':"content"}}

# 2. Convert this dictionary into json
# 3. Convert that json again into a dictionary

In [42]:
# creating the dict
tool_calling = {'tool': "save_notes", 'arguments': {'title': "demo", 'text':"content"}}

In [43]:
# Create json dump
import json
tool_calling_json = json.dumps(tool_calling)
print(tool_calling_json)

{"tool": "save_notes", "arguments": {"title": "demo", "text": "content"}}

In [44]:
dict1 = json.loads(tool_calling_json)
print(type(dict1))

<class 'dict'>

# conditions and Loops

In [47]:
# if/else
feeling = input("how are you feeling today?")
if feeling == "good":
  print("That's great!")
elif feeling == "sad":
  print("I'm sorry to hear that!")
else:
  print("let's party")

how are you feeling today?SAD
let's party

# Loops

In [48]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [49]:
for i in ["amit", 10, "100", 7.9]:
  print(i)

amit
10
100
7.9

# Given a list of n integers, find the maximum

In [50]:
l = [1, 5, 2, 7, 8, 10, 4]

mx = l[0]

for i in l:
  if i > mx:
    mx = i

print(mx)

10